{% extends 'main.html' %}

{% block login %}
<div class="panel panel-default">
    <input class="fones">
        <form action="/auth/login/" method="post">
            {% csrf_token %}
            <label for="username">Username</label>
            <input type="text" name="username" id="username"><hr>
            <label for="password">Password</label>
            <input type="password" name="password" id="password"><hr>
            {% if login_error %}
                <label class="error">{{ login_error }}</label>
            {% endif %}
            <input class="btn btn-primary" role="button" type="submit" value="Log in">
            <a id="divTagLine" class="btn btn-primary" role="button" href="/auth/register/"><h3>Sign up</h3></a>
        </form>
    </div>
</div>
{% endblock %}